<app-menu></app-menu>
<div class="container" *ngIf="!isLogged">
    <div class="row m-3">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-header text-center">
                  Inicio de Sesión
                </div>
                <div class="d-grid gap-2">
                    <br>
                    <!--<asl-google-signin-button class="btn btn-outline-primary btn-lg btn-block"></asl-google-signin-button>-->
    
                    <button class="btn btn-outline-primary btn-lg btn-block" (click)="signInWithFB()">
                        <i class="fab fa-facebook"></i>  Iniciar Sesión con Facebook</button>
                </div>
              </div>
        </div>
    </div>
</div>
